<div class="container-navbar">
  <img class="img-navbar" src="https://st2.depositphotos.com/4035913/6124/i/450/depositphotos_61243733-stock-illustration-business-company-logo.jpg" alt="">
  <div class="itens-navbar">
    <a [routerLink]="['/about']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Sobre</a>
    <a [routerLink]="['/experience']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Experiências</a>
  </div>
  <span class="material-symbols-outlined">menu</span>
</div>
